/*******************
Home Page
*******************/

.home-page {
  padding: 0 5%;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  margin: 20px 0;
  justify-content: center;
  display: -webkit-flex;
-webkit-flex-orient: horizontal;
-webkit-flex-pack: center;
-webkit-flex-align: center;

display: -moz-flex;
-moz-flex-orient: horizontal;
-moz-flex-pack: center;
-moz-flex-align: center;

display: flex;
flex-orient: horizontal;
flex-pack: center;
flex-align: center;
}

/*******************
Keyframes
*******************/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in-bottom {
  position: relative;
  align-content: center;
  width: 100%;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
  max-width: 600px;
}

.fade-in-top {
  position: absolute;;
  z-index: 1;
  width: 70%;
  align-self: center;
  margin: auto;
  max-width: 900px;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:3.5s;
}
