doctype html
html
  include head.jade

  body
    include nav.jade
    .about-image
      img(class="profile-photo", src="img/about-profile-photo.png")
    .about-wrapper
      section.upcoming-container
        h1.upcoming-header DANIEL PAINTER ART
        h2.upcoming-text EXHIBITIONS | EVENTS
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspStrongwater | June-Aug 2019
          a.site-location__address(href='https://www.google.com/maps/place/Strongwater+Food+and+Spirits/@39.9572931,-83.010874,15z/data=!4m5!3m4!1s0x0:0x46b39d1834956de!8m2!3d39.9572931!4d-83.010874', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp401 W Town St, Columbus, OH 43215
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspEnso Tattoo and Gallery | Aug 2019
          a.site-location__address(href='https://www.google.com/maps/place/Enso+Tattoo/@39.985959,-83.0045536,15z/data=!4m2!3m1!1s0x0:0xc9a8212fb08a0fe4?sa=X&ved=2ahUKEwi5jNfonvfiAhUGSK0KHdP2ABYQ_BIwDHoECAkQCA', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp22 E 4th Ave #1a, Columbus, OH 43201
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspUrban Scrawl 13 | Aug 24 & 25, 2019
          a.site-location__address(href='https://www.google.com/maps/place/400+West+Rich,+Franklinton/@39.9565093,-83.0132446,17.93z/data=!4m5!3m4!1s0x88388f3f40f75c01:0x464bebebebf5fb01!8m2!3d39.9566667!4d-83.0105556', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp400 W Rich, Columbus, OH 43223
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspUrban Scrawl 12 | Aug 25 & 26, 2018
          a.site-location__address(href='https://www.google.com/maps/place/400+West+Rich,+Franklinton/@39.9565093,-83.0132446,17.93z/data=!4m5!3m4!1s0x88388f3f40f75c01:0x464bebebebf5fb01!8m2!3d39.9566667!4d-83.0105556', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp400 W Rich, Columbus, OH 43223
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspUrban Scrawl 11 | Aug 26 & 27, 2017
          a.site-location__address(href='https://www.google.com/maps/place/400+West+Rich,+Franklinton/@39.9565093,-83.0132446,17.93z/data=!4m5!3m4!1s0x88388f3f40f75c01:0x464bebebebf5fb01!8m2!3d39.9566667!4d-83.0105556', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp400 W Rich, Columbus, OH 43223
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspUrban Scrawl 10 | Aug 27 & 28, 2016
          a.site-location__address(href='https://www.google.com/maps/place/400+West+Rich,+Franklinton/@39.9565093,-83.0132446,17.93z/data=!4m5!3m4!1s0x88388f3f40f75c01:0x464bebebebf5fb01!8m2!3d39.9566667!4d-83.0105556', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp400 W Rich, Columbus, OH 43223
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspFranklinton Arts District | Dec 2015
          a.site-location__address(href='https://www.google.com/maps/place/400+West+Rich,+Franklinton/@39.9565093,-83.0132446,17.93z/data=!4m5!3m4!1s0x88388f3f40f75c01:0x464bebebebf5fb01!8m2!3d39.9566667!4d-83.0105556', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbsp400 W Rich, Columbus, OH 43223
        hr
        .upcoming-event
          h3.upcoming-events &nbsp&nbsp&nbsp&nbspC.C.A.D. | Dec 2014
          a.site-location__address(href='https://www.google.com/maps/place/Columbus+College+of+Art+%26+Design/@39.964885,-82.990025,15z/data=!4m2!3m1!1s0x0:0x69de74b39e4020e1?sa=X&ved=2ahUKEwjIy6bTvc_nAhXXbc0KHT0gBwQQ_BIwG3oECA4QCA', target='_blank')
            span.upcoming-events &nbsp&nbsp&nbsp&nbspAcock Gallery,60 Cleveland Ave, Columbus, OH 43215
      section.about-container
        .bio-container
          h1.bio-headline BIO
          h3.bio-text
           | Daniel Painter was born in 1980 in northwest Ohio. He received a bachelor’s degree from Columbus College of Art and Design. Now living in Columbus, Ohio, Daniel now focuses on, but not limited to, painting.
        .work-container
         h1.work-headline WORK
         h3.work-text
          | My work is about a need to build and destroy, to allow physicality and natural properties of elements to create and guide the work and myself. I use the chemical reactions of iron and copper to create my palette and their patinas to guide the image or subject. I use traditional elements of charcoal, ink, and lead to define and detail the subject. The work suggests beauty within disorder and vulnerability within destruction. The works are created out of my reaction to the evolution of marks and colors in order to find a figure that creates a cohesive piece.
  footer.insta-logo 
    a(href='https://www.instagram.com/swillcircle/')
      img(class="social-icon", src='img/instagram logo.png', alt='Instagram')
    p.insta-copy &copy; 2018 Daniel Painter
