doctype html
html
  include head.jade

  body
    nav.mobile-nav.is-closed
      a(class="mobile-nav-item selected", href="about.html") ABOUT
      a(class="mobile-nav-item", href="work.html") WORK
      a(class="mobile-nav-item", href="contact.html") CONTACT
      
    header(class="primary-header")
      a(class="logo" href="index.html")
        h1(class="logo-text") DANIEL PAINTER
      .menu
        img(class="menu-icon", src="img/menu-icon.png")
      nav(class="primary-nav")
        a(class="primary-nav-item selected", href="about.html") ABOUT
        a(class="primary-nav-item", href="work.html") WORK
        a(class="primary-nav-item", href="contact.html") CONTACT
        
    .about-wrapper
      section.about
        .about-image-container
          img(class="profile-photo", src="img/profile-photo.png")
          img(class="profile-photo-2", src="img/profile-photo-2.jpg")
          
        h3(class="about-text")
           My work is about a need to build and destroy, to allow physicality and natural properties of elements to create and guide the work and myself. I use the chemical reactions of iron and copper to create my palette and their patinas to guide the image or subject. I use traditional elements of charcoal, ink, and lead to define and detail the subject. The work suggests beauty within disorder and vulnerability within destruction. The works are created out of my reaction to the evolution of marks and colors in order to find a figure that creates a cohesive piece.
           
    footer
      a(href='https://www.instagram.com/swillcircle/')
        img(class="social-icon", src='img/instagram logo.png', alt='Instagram')
      p &copy; 2016 Daniel Painter
