doctype html

html
  include head.jade

  body
    include nav.jade

    div.contact-wrapper
      form.contact-form(method="post" action="https://formspree.io/dannyjpainter@gmail.com")
        input(type="text" placeholder="Name" name="name" class="form-input" required)
        input(type="email" placeholder="Email" name="email" class="form-input" required)
        input(type="text" placeholder="Subject" name="subject" class="form-input")
        textarea(placeholder="Message" name="message" class="form-input" required)
        button(class="form-btn" type="submit") Send Message

    div.personal-email
      p
        small
          | contact directly
        br
        | dannyjpainter@gmail.com
    footer
      a(href='https://www.instagram.com/swillcircle/')
        img.social-icon(src='img/instagram logo.png', alt='Instagram')
      p
        | &copy;
        script.
          document.write(new Date().getFullYear())
        |  &nbsp;Daniel Painter
