doctype html
html
  include head.jade
    
  body
    a.home-page(href='work.html')
      .fade-in-top
        img(src='img/daniel-painter.png')
      .fade-in-bottom
        img(src='img/ManStanding.png')
