doctype html
html
  include head.jade
    
  body
    include nav.jade
    .gallery
      a(data-fancybox="gallery" href='img/Man_Walking_By.jpg') 
        img.work-images(src='img/Man_Walking_By.jpg', alt='painting title | Man walking by')
      a(data-fancybox="gallery" href='img/Hunched_With_Arms_Out.jpg') 
        img.work-images(src='img/Hunched_With_Arms_Out.jpg', alt='painting title | Hunched with arms out')
      a(data-fancybox="gallery" href='img/Looking_Up.jpg') 
        img.work-images(src='img/Looking_Up.jpg', alt='painting title | Looking up')
      a(data-fancybox="gallery" href='img/Man_With_Red_Hand.jpg') 
        img.work-images(src='img/Man_With_Red_Hand.jpg', alt='painting title | Man with red hand')
      a(data-fancybox="gallery" href='img/Approach.jpg') 
        img.work-images(src='img/Approach.jpg', alt='painting title | Approach')
      a(data-fancybox="gallery" href='img/Girl_With_Blue_Hand_Out.jpg') 
        img.work-images(src='img/Girl_With_Blue_Hand_Out.jpg', alt='painting title | Girl with blue hand out')
      a(data-fancybox="gallery" href='img/Hand_To_His_Side.jpg') 
        img.work-images(src='img/Hand_To_His_Side.jpg', alt='painting title | Hand to his side')
      a(data-fancybox="gallery" href='img/Man_Standing.jpg') 
        img.work-images(src='img/Man_Standing.jpg', alt='painting title | Man standing')
      a(data-fancybox="gallery" href='img/Stranger.jpg') 
        img.work-images(src='img/Stranger.jpg', alt='painting title | Stranger')
      a(data-fancybox="gallery" href='img/Man_Breathing.jpg') 
        img.work-images(src='img/Man_Breathing.jpg', alt='painting title | Man breathing')
      a(data-fancybox="gallery" href='img/Women_Sitting.jpg') 
        img.work-images(src='img/Women_Sitting.jpg', alt='painting title | Women sitting')
      a(data-fancybox="gallery" href='img/Women_Standing.jpg') 
        img.work-images(src='img/Women_Standing.jpg', alt='painting title | Women standing')
      a(data-fancybox="gallery" href='img/Girl_Standing_In_Front_of_You.jpg') 
        img.work-images(src='img/Girl_Standing_In_Front_of_You.jpg', alt='painting title | Girl standing in front of you')
      a(data-fancybox="gallery" href='img/Red_Women.jpg') 
        img.work-images(src='img/Red_Women.jpg', alt='painting title | Red women')
      a(data-fancybox="gallery" href='img/Women_Holding_Herself.jpg') 
        img.work-images(src='img/Women_Holding_Herself.jpg', alt='painting title | Women holding herself')
      a(data-fancybox="gallery" href='img/Their_Red_Hands.jpg') 
        img.work-images(src='img/Their_Red_Hands.jpg', alt='painting title | Their red hands')
      a(data-fancybox="gallery" href='img/Sketch_Study.jpg') 
        img.work-images(src='img/Sketch_Study.jpg', alt='painting title | Sketch study')
      a(data-fancybox="gallery" href='img/Woman_In_Field.jpg') 
        img.work-images(src='img/Woman_In_Field.jpg', alt='painting title | Woman in field')
      a(data-fancybox="gallery" href='img/Sketch_Study2.jpg') 
        img.work-images(src='img/Sketch_Study2.jpg', alt='painting title | Sketch study number 2')
      a(data-fancybox="gallery" href='img/Women_Scrawl_16.jpg') 
        img.work-images(src='img/Women_Scrawl_16.jpg', alt='painting title | Women scrawl 2016')
    
