header(class="primary-header")
  a(class="logo" href="index.html")
    img(class="logo-svg", src="img/Signature_SVG.svg" alt="Danny Painter")
  nav(class="primary-nav")
    a(id="work-nav" class="primary-nav-item",href="index.html") WORK
    a(class="primary-nav-item", href="https://danielpainter.bigcartel.com/") STORE
    a(id="info-nav" class="primary-nav-item", href="about.html") INFO
    a(id="contact-nav" class="primary-nav-item", href="contact.html") CONTACT
