doctype html
html
  include head.jade
  
  body
    nav.mobile-nav.is-closed
      a(class="mobile-nav-item", href="about.html") ABOUT
      a(class="mobile-nav-item selected", href="work.html") WORK
      a(class="mobile-nav-item", href="contact.html") CONTACT
      
    header(class="primary-header")
      a(class="logo" href="index.html")
        h1(class="logo-text") DANIEL PAINTER
      .menu
        img(class="menu-icon", src="img/menu-icon.png")
      nav(class="primary-nav")
        a(class="primary-nav-item",href="about.html") ABOUT
        a(class="primary-nav-item", href="work.html") WORK
        a(class="primary-nav-item selected", href="contact.html") CONTACT

    div(id="work-wrapper")
      section(id="primary")
        #gallery.clearfix
          .gallery-images
            .cssbox
              a#image1(href='#image1')
                img.cssbox_thumb(src='img/WomenStanding.jpg')                 
                span.cssbox_full
                  img(src='img/WomenStanding.jpg')
              p Women Standing 36&quot; x 48&quot; 2014
              a.cssbox_close(href='')
              a.cssbox_next(href='#image2') &gt;
          .gallery-images
            .cssbox
              a#image2(href='#image2')
                img.cssbox_thumb(src='img/WomenSitting.jpg')
                span.cssbox_full
                  img(src='img/WomenSitting.jpg')
              p Women Sitting 36&quot; x 48&quot; 2014
              a.cssbox_close(href='#void')
              a.cssbox_prev(href='#image1') &lt;
              a.cssbox_next(href='#image3') &gt;
          .gallery-images
            .cssbox
              a#image3(href='#image3')
                img.cssbox_thumb(src='img/ManStanding.jpg')
                span.cssbox_full
                  img(src='img/ManStanding.jpg')
              p Man Standing 30&quot; x 40&quot; 2014
              a.cssbox_close(href='#void')
              a.cssbox_prev(href='#image2') &lt;
              a.cssbox_next(href='#image4') &gt;
          .gallery-images
            .cssbox
              a#image4(href='#image4')
                img.cssbox_thumb(src='img/ManBreathing.jpg')
                span.cssbox_full
                  img(src='img/ManBreathing.jpg')
              p Man Breathing 42&quot; x 60&quot; 2014
              a.cssbox_close(href='#void')
              a.cssbox_prev(href='#image3') &lt;
              a.cssbox_next(href='#image5') &gt;
          .gallery-images
            .cssbox
              a#image4(href='#image4')
                img.cssbox_thumb(src='img/Approach.jpg')
                span.cssbox_full
                  img(src='img/Approach.jpg')
              p Approach 36&quot; x 48&quot; 2014
              a.cssbox_close(href='#void')
              a.cssbox_prev(href='#image3') &lt;
              a.cssbox_next(href='#image5') &gt;
          .gallery-images
            .cssbox
              a#image5(href='#image5')
                img.cssbox_thumb(src='img/Red Women.jpg')
                span.cssbox_full
                  img(src='img/Red Women.jpg')
              p Red Women 42&quot; x 60&quot; 2014
              a.cssbox_close(href='#void')
              a.cssbox_prev(href='#image4') &lt;                             
              a.cssbox_next(href='#image6') &gt;                     
          .gallery-images
            .cssbox
              a#image6(href='#image6')
                img.cssbox_thumb(src='img/HandToHisSide.jpg')                                   
                span.cssbox_full
                  img(src='img/HandToHisSide.jpg')                             
              p Hand To His Side 42&quot; x 60&quot; 2014                             
              a.cssbox_close(href='#void')                             
              a.cssbox_prev(href='#image5') &lt;                             
              a.cssbox_next(href='#image7') &gt;                     
          .gallery-images
            .cssbox
              a#image7(href='#image7')
                img.cssbox_thumb(src='img/Girl Standing In Front of You.jpg')                                     
                span.cssbox_full
                  img(src='img/Girl Standing In Front of You.jpg')                               
              p Girl Standing In Front of You 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image6') &lt;                               
              a.cssbox_next(href='#image8') &gt;                     
          .gallery-images
            .cssbox
              a#image8(href='#image8')
                img.cssbox_thumb(src='img/Stranger.jpg')                                     
                span.cssbox_full
                  img(src='img/Stranger.jpg')                               
              p Stranger 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image7') &lt;                               
              a.cssbox_next(href='#image9') &gt;                     
          .gallery-images
            .cssbox
              a#image9(href='#image9')
                img.cssbox_thumb(src='img/Girl With Blue Hand Out.jpg')                                     
                span.cssbox_full
                  img(src='img/Girl With Blue Hand Out.jpg')                               
              p Girl With Blue Hand Out 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image8') &lt;                               
              a.cssbox_next(href='#image10') &gt;                     
          .gallery-images
            .cssbox
              a#image10(href='#image10')
                img.cssbox_thumb(src='img/Man Walking By.jpg')                                     
                span.cssbox_full
                  img(src='img/Man Walking By.jpg')                               
              p Man Walking By 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image9') &lt;                               
              a.cssbox_next(href='#image11') &gt;                     
          .gallery-images
            .cssbox
              a#image11(href='#image11')
                img.cssbox_thumb(src='img/Woman_In_Field.jpg')                                     
                span.cssbox_full
                  img(src='img/Woman_In_Field.jpg')                               
              p Woman in Field 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image10') &lt;                               
              a.cssbox_next(href='#image12') &gt;                     
          .gallery-images
            .cssbox
              a#image12(href='#image12')
                img.cssbox_thumb(src='img/Looking_Up.jpg')                                     
                span.cssbox_full
                  img(src='img/Looking_Up.jpg')                               
              p Looking Up 30&quot; x 40&quot; 2015                               
              a.cssbox_close(href='#void')                               
              a.cssbox_prev(href='#image11') &lt;
              // <a class="cssbox_next" href="#image13">&gt;</a>             
      footer
        a(href='https://www.instagram.com/swillcircle/')
          img.social-icon(src='img/instagram logo.png', alt='Instagram')
        |         
        p &copy; 2016 Daniel Painter
