/*******************
Footer
*******************/

footer {
  font-size: .75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #5c5757;
}

.social-icon {
  width: 48px;
  height: 48px;
  margin: 0 5px;
  border-radius: 50%;
}
